.recipe {
  width: 300px;
  border-radius: 7px;
  background-color: rgb(230, 230, 230);
  border-radius: 15px;

  &__content {
    padding: 10px;
  }
  // .recipe__img-wrapper

  &__img-wrapper {
    width: 100%;
    height: 250px;
  }

  // .recipe__img

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // .recipe__title

  &__title {
  }

  // .recipe__rating

  &__rating {
  }

  // .recipe__tags

  &__tags {
  }
}
