.tabs {
    display:flex;
    flex-direction: column;
    gap: 10px;

    &__control {
        display: flex;
        gap: 7px;
    }
    
    &__btn-collapse-control {
        margin-top: 10px;
    }
}